:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --danger-color: #e74c3c;
    --login-background: linear-gradient(to right, #f39c12, #e74c3c);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  h2 {
    color: var(--primary-color);
  }
  
  .login-container {
    background: var(--login-background);
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 400px; /* Increased width */
    text-align: center;
  }
  
  .container {
    margin: 30px auto;
    width: 500px; /* Increased width */
  }
  
  .hidden {
    display: none;
  }
  
  .summary {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .inc-exp-container > div {
    flex: 1;
    text-align: center;
  }
  
  .money-plus {
    color: var(--secondary-color);
  }
  
  .money-minus {
    color: var(--danger-color);
  }
  
  .btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
  }
  
  .list li.plus {
    border-right: 5px solid var(--secondary-color);
  }
  
  .list li.minus {
    border-right: 5px solid var(--danger-color);
  }
  
  .delete-btn {
    background-color: var(--danger-color);
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  